<!DOCTYPE html>
<html>

<head>

    <title>Edit Service Request</title>

    <link rel="stylesheet"
    href="{{ url_for('static',
    filename='css/style.css') }}">

</head>

<body>

<div class="form-container">

    <h1>
        <span style="color:#32CD32;">CHENNAI</span>
        <span style="color:#006400;">CAR-TECH</span>
    </h1>

    <h2>✏ Edit Service Request</h2>

    <form method="POST">

        <label>Service Type</label>

        <select name="service">

            <option value="General Service"
            {% if booking.service_type == "General Service" %}
            selected
            {% endif %}>
            General Service
            </option>

            <option value="Oil Change"
            {% if booking.service_type == "Oil Change" %}
            selected
            {% endif %}>
            Oil Change
            </option>

            <option value="Wheel Alignment"
            {% if booking.service_type == "Wheel Alignment" %}
            selected
            {% endif %}>
            Wheel Alignment
            </option>

            <option value="Brake Service"
            {% if booking.service_type == "Brake Service" %}
            selected
            {% endif %}>
            Brake Service
            </option>

            <option value="Full Inspection"
            {% if booking.service_type == "Full Inspection" %}
            selected
            {% endif %}>
            Full Inspection
            </option>

        </select>

        <br><br>

        <label>Booking Date</label>

        <input
        type="date"
        name="date"
        value="{{ booking.booking_date }}"
        required>

        <br><br>

        <button type="submit">

            💾 Update Booking

        </button>

    </form>

    <br>

    <a href="/dashboard" class="btn">

        ← Back

    </a>

</div>

</body>

</html>